{% extends 'base.html' %}
{% block content %}
<div class="container">
     <h1>
          {% if 'update' in request.path %}
               Update TaskPhoto
          {% else %}
               Create New TaskPhoto
          {% endif %}
     </h1>
     <form method="post" enctype="multipart/form-data" id="postForm">
          {% csrf_token %}
          {{ form }}          
          <br>
          <button class="btn btn-primary mt-3" type="submit">
               {% if 'update' in request.path %}
                    Update Task Photo
               {% else %}
                    Create Task Photo
               {% endif %}
          </button>
     </form>
</div>

{% endblock %}
